
@{
    ViewData["Title"] = "check Your Inbox";
    Layout = "~/Views/Shared/_AuthAccount.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="body">
        <div class="">
            <p>Password reset link has Been sent Your email. please check Your inbox :)</p>
               
        </div>
            <div>
                <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
            </div>
            
     </div>
    </div>
 </section>

