@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthAccount.cshtml";
}
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Reset Password</h2>
                <form method="POST" class="register-form" asp-action="ResetPassword">
                    <div asp-validation-summary="All"></div>
                   
                    <div class="form-group">
                        
                        <label asp-for="NewPassword"><i class="fa-solid fa-lock"></i></label>
                        <input type="password" asp-for=NewPassword placeholder="NewPassword" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"><i class="fa-solid fa-lock"></i></label>
                        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm password" />
                    </div>
                  
                    <div class="form-group form-button">
                        <input type="submit" class="form-submit" value="Reset Password" />
                    </div>
                </form>
            </div>
            <div class="signup-image">

                <figure> <img src="~/photos/signupimage.jpg" alt="sing up image" /></figure>
                @*  <img src="wwwroot\photos\signupimage.jpg" /> *@
            @*     <a asp-action="Login" class="signup-image-link">I am already member</a> *@
            </div>
        </div>
    </div>
</section>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
    @*    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 *@
}


